body {
  background: #f5f5f5da;
  font-family: "Press Start 2P", cursive;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 65px;
  color: #120136;
}

.input {
  all: unset;
  font-family: "Press Start 2P", cursive;
  width: 300px;
  height: 25px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #120136;
  border-radius: 20px;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: calc(100vh - 75px);
}
