/* body {
  background-color: hsla(50, 91%, 61%, 0.836);
} */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 57px;
  color: #120136;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: calc(100vh - 75px);
}
